<table class="table">
  <thead>
    <tr>
      <th scope="col">接口名称</th>
      <th scope="col">接口地址</th>
      <th scope="col">接受数据</th>
    </tr>
  </thead>
  <tbody>
    {% for api in apis %}
      <tr>
        <td>{{ api.name }}</td>
        <td><code>{{ api.path }}</code></td>
        <td>{{ api.data }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
