<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/styles/index.css" />
  </head>
  <body>
    <div class="container" style="margin-top: 1rem">
      {% block container %}
      {% endblock %}
    </div>
  <script src="/public/scripts/jquery.min.js" charset="utf-8"></script>
  <script src="/public/scripts/bootstrap.min.js" charset="utf-8"></script>
  <script src="https://cdn.bootcss.com/d3/4.13.0/d3.min.js"></script>
  <script src="/public/scripts/index.js" charset="utf-8"></script>
  <script src="/public/scripts/pie.js" charset="utf-8"></script>
  </body>
</html>
